{% extends "base.html" %}

{% block head %}
{% style "/easyui/themes/default/easyui.css" %}
{% style "/easyui/themes/icon.css" %}
{% style "/easyui/themes/color.css" %}
{% endblock %}

{% block menu %}
{% include "sk/routes/maestros/menus.html" %}
{% endblock %}

{% block content %}
<table id = "tt" title= {{ title }} class="easyui-datagrid" style="width: 100%; height: auto;" data-options="pagination:false,
  rownumbers:true,
  nowrap:true,
  resizeEdge:5,
  autoRowHeight:true,
  fitColumns:true,
  autoSizeColumns:true,
  singleSelect:true,
  remoteSort:false,
  striped:true">
  <thead>
    <tr>
      <th data-options="field:'matricula_id',sortable:true,fixed:false,width:100">MATRICULA</th>
      <th data-options="field:'nombre',sortable:true,fixed:false,width:100">NOMBRE</th>
      <th field="fecha" width = "80">FECHA</th>
      <th field="mandados" width = "80"># CORREOS MANDADOS</th>
      <th field="diferencia" width = "80">DIFERENCIA MINUTOS</th>
    </tr>
  </thead>
  <tbody>
    {% for row in rows %}
    <tr>
      <td>{{ row.matricula_id }}</td>
      <td>{{ row.nombre }}</td>
      <td>{{ row.fecha }}</td>
      <td>{{ row.mandados }}</td>
      <td>{{ row.diferencia }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block scripts %}
{% script "/easyui/jquery.easyui.min.js" %}
{% script "/easyui/datagrid-detailview.js" %}
{% script "/easyui/plugins/jquery.datagrid.js" %}
{% script "/js/jquery.maskedinput.min.js" %}
{% script "/easyui/locale/easyui-lang-es.js" %}
{% endblock %}
