{% extends "base.html" %}

{% block head %}
{% style "/easyui/themes/default/easyui.css" %}
{% style "/easyui/themes/icon.css" %}
{% style "/easyui/themes/color.css" %}
{% endblock %}

{% block menu %}
{% include "sk/routes/alumnos/menus.html" %}
{% endblock %}

{% block content %}
<div class="container col-8">
    <div class="card-header">
        <h4 class="mb-0"><span style="color:rgb(18,123,163);">{{ title }}</span></h4>
    </div>
    <form class="fm" enctype="multipart/form-data" method="post" {% if matricula %} action="/alumnos/matricula" {% endif %} novalidate style="width:100%;background-color:#EFEFEF;">
        <div class="form-group col-10">
            {% include "sk/routes/alumnos/registrar/_photo.html" %}
        </div>
        <div class="form-group col-10">
            <div style="margin-bottom:20px;">
                <input name="file" id="file" class="form-control easyui-filebox" data-options="prompt:'Escoje foto...',buttonText:'Escoje foto'" style="width:100%;bottom-margin:15px;">
            </div>
        </div>
        {% include "sk/routes/alumnos/registrar/_registrar.html" %}
        <div class="form-group col-10">
            <a href="javascript:void(0)" class="btn btn-primary easyui-linkbutton" id="submit">Registrarse</a>
        </div>
    </form>
</div>
{% endblock %}
{% block scripts %}
{% script "/easyui/jquery.easyui.min.js" %}
{% script "/easyui/datagrid-detailview.js" %}
{% script "/easyui/plugins/jquery.datagrid.js" %}
{% script "/js/jquery.maskedinput.min.js" %}
{% script "/easyui/locale/easyui-lang-es.js" %}
<script>
 $(document).ready(function() {
     var row_exists = {% if matricula %} true {% else %} false {% endif %};
     if(row_exists) {
         $("form.fm").form('load', {{ row|safe }});
         $("#matricula").textbox('readonly',true);
         $("#password").passwordbox('readonly',true);
     }

     $("a#submit").click(function() {
         $("form.fm").form("submit", {
             onSubmit: function() {
                 return $(this).form("enableValidation").form("validate");
             },
             success: function(data) {
                 try {
                     var dta = JSON.parse(data);
                     if(dta.hasOwnProperty('url')) {
                       $.messager.alert('Informacion', 'Registro creado exitosamente, verificar correo electronico!');
                       setTimeout(function(){location.href=dta.url}, 5000);
                     } else if(dta.hasOwnProperty('error')) {
                         $.messager.alert('Error', dta.error, 'error');
                     }
                 } catch(e) {
                     console.error("Invalid JSON");
                 }
             }
         });
     });

     $("#matricula").textbox({
         onChange: function(value) {
             var url = "/table_ref/alumnos/"+value;
             $.get(url, function(data) {
                 if(data == value) {
                     $.messager.alert({
                         title: 'Error',
                         msg: 'Esta matricula ya existe!',
                         fn: function() {
                             window.location.href="/alumnos";
                         }
                     });
                 }
             });
         }
     });

     $("#foto").filebox({
         onChange: function() {
             var matricula = $("#matricula").textbox('getValue');
             var f  = $(this).next().find('.textbox-value');
             var filelist = f[0].files;
             var name = filelist[0]['name'];
             var size = filelist[0]['size'];
             var type = filelist[0]['type'];
             console.log('Name: ' + name);
             console.log('Size: ' + size);
             console.log('Type: ' + type);
             console.log('matricula: ' + matricula);
             return console.log(f[0].files);
         }
     });

 });
</script> 
{% endblock %}
