{% extends "base.html" %}

{% block head %}
{% style "/easyui/themes/default/easyui.css" %}
{% style "/easyui/themes/icon.css" %}
{% style "/easyui/themes/color.css" %}
{% endblock %}

{% block content %}
<div class="container col-12">
    <div class="table-responsive">
      <table class="table table-light table-striped">
        <thead class="thead-dark">
          <tr style="text-align: center;">
            <th colspan=10 align='center'>
              {{ title|upper }}
            </th>
          </tr>
          <tr>
            <th>MATRICULA</th>
            <th>APELLIDO PATERNO</th>
            <th>APELLIDO MATERNO</th>
            <th>NOMBRE</th>
            <th>EMAIL</th>
            <th>ESCUELA</th>
            <th>CARRERA</th>
            <th>SEMESTRE</th>
            <th>INGRESO</th>
            <th>EGRESO</th>
          </tr>
        </thead>
        <tbody>
          {% for row in rows %}
          <tr>
            <td>{{ row.matricula }}</td>
            <td>{{ row.apell_paterno }}</td>
            <td>{{ row.apell_materno }}</td>
            <td>{{ row.nombre }}</td>
            <td>{{ row.email }}</td>
            <td>{{ row.escuela }}</td>
            <td>{{ row.carrera }}</td>
            <td>{{ row.semestre }}</td>
            <td>{{ row.fecha_ingreso }}</td>
            <td>{{ row.fecha_egreso }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% script "/easyui/jquery.easyui.min.js" %}
{% script "/easyui/datagrid-detailview.js" %}
{% script "/easyui/plugins/jquery.datagrid.js" %}
{% script "/js/jquery.maskedinput.min.js" %}
{% script "/easyui/locale/easyui-lang-es.js" %}
{% endblock %}
