{% extends "base.html" %}

{% block head %}
{% style "/easyui/themes/default/easyui.css" %}
{% style "/easyui/themes/icon.css" %}
{% style "/easyui/themes/color.css" %}
{% endblock %}

{% block content %}
<div class="container col-8">
    <div class="card-header">
        <h4 class="mb-0"><span style="color:rgb(18,123,163);">{{ title }}</span></h4>
    </div>
    <form class="fm" method="post" {% if matricula %} action="/matricula" {% endif %} novalidate style="width:100%;background-color:#EFEFEF;">
        <div id="foto-div" style="margin-top:auto;">

        </div>
        <div class="form-group col-10">
            <div style="margin-bottom:20px;">
                <input name="foto" id="foto" class="form-control easyui-filebox" data-options="prompt:'Escoje foto...',buttonText:'Escoje foto'" style="width:100%;bottom-margin:15px;">
                <button onclick="uploadFile()" style="top-margin:10px;">Clic aqui para Subir foto!</button>
            </div>
        </div>
        {% include "routes/_registrar.html" %}
        <div class="form-group col-10">
            <a href="javascript:void(0)" class="btn btn-primary easyui-linkbutton" id="submit">Registrarse</a>
        </div>
    </form>
</div>
{% endblock %}
{% block scripts %}
{% script "/easyui/jquery.easyui.min.js" %}
{% script "/easyui/datagrid-detailview.js" %}
{% script "/easyui/plugins/jquery.datagrid.js" %}
{% script "/js/jquery.maskedinput.min.js" %}
{% script "/easyui/locale/easyui-lang-es.js" %}
<script>
 $(document).ready(function() {
   function uploadFile(){
     var input = document.getElementById("file");
     file = input.files[0];
     if(file != undefined){
       formData= new FormData();
       if(!!file.type.match(/image.*/)){
         formData.append("image", file);
         $.ajax({
           url: "upload.php",
           type: "POST",
           data: formData,
           processData: false,
           contentType: false,
           success: function(data){
             alert('success');
           }
         });
       }else{
         alert('Not a valid image!');
       }
     }else{
       alert('Input something!');
     }

}    var row_exists = {% if matricula %} true {% else %} false {% endif %};
     if(row_exists) {
         $("form.fm").form('load', {{ row|safe }});
         $("#matricula").textbox('readonly',true);
         $("#password").passwordbox('readonly',true);
     }

     $("a#submit").click(function() {
         $("form.fm").form("submit");
     });

     $("form.fm").form("submit", {
         onSubmit: function() {
             return $(this).form("enableValidation").form("validate");
         },
         success: function(data) {
             try {
                 var dta = JSON.parse(data);
                 if(dta.hasOwnProperty('url')) {
                     window.location.href = dta.url;
                 } else if(dta.hasOwnProperty('error')) {
                     $.messager.alert('Error', dta.error, 'error');
                 }
             } catch(e) {
                 console.error("Invalid JSON");
             }
         }
     });

     $("#matricula").textbox({
         onChange: function(value) {
             var url = "/table_ref/alumnos/"+value;
             $.get(url, function(data) {
                 if(data == value) {
                     $.messager.alert({
                         title: 'Error',
                         msg: 'Esta matricula ya existe!',
                         fn: function() {
                             window.location.href="/";
                         }
                     });
                 }
             });
         }
     });
 });
</script>
{% endblock %}
