<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
    <a href="/" class="navbar-brand" style="margin-bottom: 0; ">Escuela</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto" id="cum">
                <li class="nav-item"><a href="/alumnos" class="nav-link">Alumnos</a></li>
                <li class="nav-item"><a href="/maestros" class="nav-link">Maestros</a></li>
            </ul>
        </div>
</nav>
