{% extends "base.html" %}

{% block head %}
{% style "/easyui/themes/default/easyui.css" %}
{% style "/easyui/themes/icon.css" %}
{% style "/easyui/themes/color.css" %}
{% endblock %}

{% block navbar_content %}
{% include "amenus.html" %}

{% endblock %}
{% block content %} {% csrf-field %}
<table id="dg"
       title="{{ title }}"
       class="easyui-datagrid datagrid-searchable"
       style="width: 100%"
       data-options="url: '/admin/ceventos/json/grid',
                      toolbar: '#toolbar',
                      queryParams: {'__anti-forgery-token':token},
                      pagination: true,
                      rownumbers: true,
                      nowrap: true,
                      autoRowHeight: false,
                      fitColumns: true,
                      autoSizeColumn: true,
                      singleSelect: true">
  <thead>
    <tr>
      <th data-options="field: 'titulo', sortable: true">TITULO</th>
      <th data-options="field: 'lugar', sortable: true">LUGAR</th>
      <th data-options="field: 'fecha_inicio', sortable: true">INICIA</th>
      <th data-options="field: 'hora_inicio', sortable: true">HORA</th>
      <th data-options="field: 'fecha_terminacion', sortable: true">TERMINA</th>
      <th data-options="field: 'hora_terminacion', sortable: true">HORA</th>
    </tr>
  </thead>
</table>

<div id="toolbar">
  <a href="javascript:void(0)"
     class="easyui-linkbutton"
     data-options="iconCls: 'icon-add',plain: true"
     onclick="NewItem()">Crear</a>
  <a href="javascript:void(0)"
     class="easyui-linkbutton"
     data-options="iconCls: 'icon-edit',plain: true"
     onclick="defaultGridEditItem({})">Editar</a>
  <a href="javascript:void(0)"
     class="easyui-linkbutton"
     data-options="iconCls: 'icon-remove',plain: true"
     onclick="defaultGridDeleteItem()">Remover</a>
  <div style="float: right">
    <input class="easyui-textbox" id="datagrid-searchbox" data-options="prompt: 'Busqueda'" title="Buscar">
  </div>
</div>

<div class="easyui-dialog dlg" data-options="closed: true, buttons: '#dlg-buttons'" style="padding: 5px;width:70%;">
  <form class="fm" method="POST" enctype="multipart/form-data" novalidate>
    <input type="hidden" id="id"  name="id">
    <div class="form-group col-11">
      <div style="margin-bottom:20px;">
        <img id="image1" width="95" height="71"/>
        <input id="imagen" class="easyui-filebox" name="imagen" style="width:300px" data-options="
                   prompt:'Escoje imagen...',
                   buttonText:'Escoje imagen...',
                   onChange: function(value){
                   var f = $(this).next().find('input[type=file]')[0];
                   if (f.files && f.files[0]){
                   var reader = new FileReader();
                   reader.onload = function(e){
                   $('#image1').attr('src', e.target.result);
                   }
                   reader.readAsDataURL(f.files[0]);
                   }
                   }">
      </div>
    </div>
    <div class="form-group col-11">
      <label for="categorias_id">Categoria:</label>
      <input id="categorias_id" name="categorias_id" class="form-control easyui-combobox" data-options="method:'GET',url:'/table_ref/get_categorias',required:true">
    </div>
    <div class="form-group col-11">
      <label for="titulo">Titulo:</label>
      <input id="titulo" name="titulo" class="form-control easyui-textbox" data-options="multiline:true,height:120,required:true">
    </div>
    <div class="form-group col-11">
      <label for="descripcion">Descripción:</label>
      <input id="descripcion" name="descripcion" class="form-control easyui-textbox" data-options="multiline:true,height:120,required:true">
    </div>
    <div class="form-group col-11">
      <label for="lugar">Lugar:</label>
      <input id="lugar" name="lugar" class="form-control easyui-textbox" data-options="multiline:true,height:120,required:true">
    </div>
    <div class="form-group col-11">
      <label for="fecha_inicio">Fecha/Inicio:</label>
      <input id="fecha_inicio" name="fecha_inicio" class="form-control easyui-datebox" data-options="required:true">
    </div>
    <div class="form-group col-11">
      <label for="hora_inicio">Hora/Inicio:</label>
      <input id="hora_inicio" name="hora_inicio" type="time" class="form-control easyui-textbox" data-options="required:true">
    </div>
    <div class="form-group col-11">
      <label for="fecha_terminacion">Fecha/Terminación:</label>
      <input id="fecha_terminacion" name="fecha_terminacion" class="form-control easyui-datebox" data-options="required:true">
    </div>
    <div class="form-group col-11">
      <label for="hora_terminacion">Hora/Terminación:</label>
      <input id="hora_terminacion" name="hora_terminacion" type="time" class="form-control easyui-textbox" data-options="required:true">
    </div>
  </form>
</div>
<div id="dlg-buttons">
  <a href="javascript:void(0)"
     class="easyui-linkbutton"
     data-options="iconCls: 'icon-ok'"
     onclick="defaultGridSaveItem()">Postear</a>
  <a href="javascript:void(0)"
     class="easyui-linkbutton"
     data-options="iconCls: 'icon-cancel'"
     onclick="defaultGridDialogClose()">Cancelar</a>
</div>
{% endblock %}

<script type="text/javascript"></script>
{% block scripts %}
{% script "/easyui/jquery.easyui.min.js" %}
{% script "/easyui/datagrid-detailview.js" %}
{% script "/easyui/plugins/jquery.datagrid.js" %}
{% script "/js/jquery.maskedinput.min.js" %}
{% script "/easyui/locale/easyui-lang-es.js" %}
<script type="text/javascript" src="/js/defaultGrid.js"></script>
<script>
function NewItem() {
  dataGrid.datagrid('unselectAll');
  $("#image1").attr('src','/images/placeholder_profile.png');
  dialog.dialog('open').dialog('center').dialog('setTitle', 'Nuevo Record');
  form.form('clear');
  windowHeight = $(window).height() - ($(window).height() * 0.2);
  dialog.dialog('resize', {height: windowHeight}).dialog('center');
}

$(document).ready(function() {
  $(".fm").form({
    onLoadSuccess: function(data) {
      var url = "/table_ref/get_imagen/" + data.id;
      $.get(url,function(data) {
        var the_src = $(data).attr('src');
        $("#image1").attr('src', the_src)
      });
    }
  });
});
</script>
{% endblock %}
